<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <strong>Chat</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true">

  <div *ngIf="!messages.length" class="empty">
    <ion-icon src="assets/bot.svg"></ion-icon>
    <h4>Soy tu chat de atención</h4>
  </div>

  <ion-item lines="none" [ngClass]="{'bot' : m.sender! == 'me'}" class="chat-item" *ngFor="let m of messages; index as i">
    <ion-badge color="m.sender == 'me' ? 'success' : 'tertiary'" mode="ios"></ion-badge>
    <ion-icon class="chat-icon" slot="start" [src]="m.sender == 'me' ? 'assets/user.svg' : 'assets/bot.svg'" color="primary"></ion-icon>
    <ion-label class="ion-text-wrap">
      <p class="w-space">{{m.content}}</p>
      <ion-spinner *ngIf = "loading && (i+1 == messages.length)" name="dots"  color="primary"></ion-spinner>
    </ion-label>
  </ion-item>


</ion-content>

<ion-footer class="ion-padding">

<form [formGroup]="form">

  <ion-item lines="none" class="text-box-item">

    <ion-textarea formControlName="promt" auto-grow="true" placeholder="Escribe tu mensaje">  </ion-textarea>
  
      <ion-buttons slot="end">
        <ion-button (click)="submit()" [disabled]="form.invalid">
          <ion-icon name="send"  class="submit-icon" color="primary"></ion-icon>
        </ion-button>
  
      </ion-buttons>
  
  </ion-item>
</form>



</ion-footer>

