<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <strong>Help Desk</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="logo">
    <ion-avatar style="margin: 0 auto;">
      <ion-img src="/assets/logo.png"/>
    </ion-avatar >
    <h4>Crear cuenta</h4>
  </div>

  <form [formGroup]="form" novalidate (ngSubmit)="register()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirma tu contraseña</ion-label>
        <ion-input type="password" formControlName="confirmPassword"></ion-input>
      </ion-item>
    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button routerLink="/login" routerDirection="back" type="button" expand="block">
          <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
          Regresar
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button type="submit" expand="block">
          <ion-icon slot="start" name="log-in-outline"></ion-icon>
          Registrarme
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>