<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      <strong>Help Desk</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="logo">
    <ion-avatar style="margin: 0 auto;">
      <ion-img src="/assets/logo.png"/>
    </ion-avatar >
    <h4>Iniciar sesión</h4>
  </div>

  <form [formGroup]="form" validate (ngSubmit)="login()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block">
          <ion-icon slot="start" name="log-in-outline"></ion-icon>
          Ingresar
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button routerLink="/register" type="button" expand="block">
          <ion-icon slot="start" name="person-add-outline"></ion-icon>
          Crear cuenta
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
  
</ion-content>

 